@charset "UTF-8";

:root {
    --cor01: #3A5491;
    --cor02: #09EAFE;
    --cor03: #031445;
    --cor04: #272E59;
    --cor05: #f9f9f9;
    --cor06: #333;
    --cor07: #42549A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: var(--cor05);
    background-image: linear-gradient(to top, var(--cor04), var(--cor07)80%);
    text-align: justify;
}

#boat {
    position: relative;
    background-color: var(--cor03);
    height: 600px;
    margin: auto;
    background-image: url(../imagens/inicial.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

#boat::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,
            rgba(56, 75, 152, 0.9) 0%,
            /* quase opaco no topo */
            rgba(56, 75, 152, 0.6) 30%,
            /* médio logo abaixo */
            rgba(56, 75, 152, 0.2) 70%,
            /* quase transparente */
            rgba(56, 75, 152, 0) 100%
            /* totalmente transparente no final */
        );
    z-index: 0;
}

#boat>section {
    position: relative;
    z-index: 1;
    /* conteúdo acima da camada */

}

.container {
    display: flex;
    justify-content: center;
    /* Centraliza horizontalmente */
    align-items: center;
    /* Centraliza verticalmente */
    height: 100vh;
    /* Altura de 100% da viewport */
    text-align: center;
    /* Garante alinhamento do texto */
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.223);
}

#boat h1 {
    text-align: center;
    font-weight: bolder;
    font-size: 3em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.492);
    margin-bottom: 300px;
}

section {
    text-align: center;
    margin: 40px;
}

h2 {
    font-size: 2.2em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.492);
}

p {
    margin: 20px;
    font-size: 1.6em;
    margin-bottom: 40px;
}

.grande {
    background-color: var(--cor03);
    color: var(--cor05);
    padding: 20px;
    border-radius: 16px;
    font-size: 1.3em;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.43);
    cursor: pointer;
}

button {
    background-color: var(--cor03);
    color: var(--cor05);
    padding: 10px;
    border-radius: 16px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.43);
    cursor: pointer;
}

.projetos {
    max-width: 1000px;
    margin: auto;
    background-color: var(--cor04);
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.223);
    padding: 40px;
    text-align: center;
    margin-top: 60px;
    border-radius: 16px;
    margin-bottom: 60px;
}

.projetos h2 {
    margin-bottom: 30px;
}

.grid-projetos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    position: relative;
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    height: 200px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.card h3 {
    font-size: 1.1em;
    text-shadow: 1px 1px 3px #000;
}

.card a {
    align-self: flex-start;
    background-color: var(--cor03);
    padding: 6px 12px;
    color: var(--cor05);
    text-decoration: none;
    font-weight: bold;
    border-radius: 16px;
}

.card a:hover {
    background-color: var(--cor02);
    color: #031445;
    transition: ease 0.3s;
}

.card a:visited {
    color: var(--cor07);
}

.card a:active {
    color: var(--cor05);
}

#not {
    position: relative;
    background-image: url(../imagens/not.jpg);
    background-attachment: fixed;
    background-position: center center;
    height: 600px;
    margin: auto;
    background-size: cover;
    margin-bottom: -39px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.223);
    z-index: 1;
}

#not::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 0.5 = 50% de escurecimento */
    z-index: -1; /* Fica atrás do conteúdo */
}

#not p {
    font-size: 3.5em;
    color: white;
}

#not div {
    text-align: left;
    color: white;
}

#not button {
    margin-left: 100px;
    margin-bottom: 40px;
}

footer {
    background-color: var(--cor07);
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 40px;
    margin-top: 40px;
    justify-content: space-between;
}

.contact-info {
    list-style: disc;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 200px;
    flex-wrap: wrap;
}

.contact-info li a {
    text-decoration: none;
    color: var(--cor05);
}

.contact-info li a:hover {
    transition: ease 0.3s;
    color: #ddd;
}

footer p {
    font-size: 1em;
    margin: auto;
}

footer a{
    color: var(--cor03);    
}

/* Responsivo */
@media (max-width: 768px) {
    #boat h1 {
        margin-bottom: 40px;
    }

     #boat {
        background-position: right center;
     }
}